@model Dynamic_Sentence_Web_App.Models.WordSentence

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WordSentence</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WordUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WordUnit.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sentence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sentence.Id)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
